# Ignore macOS system files
.DS_Store

# Ignore Python cache files
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folder
venv/

# Ignore log files
*.log

# Ignore config files - protects API tokens and other credentials.
config.py

# Ignore apikeys module
apikeys.zip